<mat-toolbar style="background-color: rgb(6, 156, 131);">
    <span><a href="">Picstagram</a></span>
    <span class="spacer"></span>
    <ul>
        <li> 
            <a mat-button routerLink="/create" routerLinkActive="current" class="newpost">New Post</a>
        </li>
        <li> 
            <a mat-button routerLink="/login" routerLinkActive="current" class="newpost">Login</a>
        </li>
        <li> 
            <a mat-button routerLink="/signup" routerLinkActive="current" class="newpost">Sign Up</a>
        </li>
    </ul>
</mat-toolbar>
