<mat-toolbar style="background-color: rgb(29, 212, 157);">
    <span><a routerLink="/">Picstagram</a></span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="userIsAuthenticated"> 
            <a mat-button routerLink="/feed" routerLinkActive="current" class="cursorlink">News feed</a>
        </li>
        <li *ngIf="userIsAuthenticated"> 
            <a mat-button routerLink="/create" routerLinkActive="current" class="cursorlink">New Post</a>
        </li>
        <li *ngIf="!userIsAuthenticated"> 
            <a mat-button routerLink="/login" routerLinkActive="current" class="cursorlink">Login</a>
        </li>
        <li *ngIf="!userIsAuthenticated"> 
            <a mat-button routerLink="/signup" routerLinkActive="current" class="cursorlink">Sign Up</a>
        </li>
        <li *ngIf="userIsAuthenticated"> 
            <button mat-button class="cursorlink" (click)="onLogout()">Log Out</button>
        </li>
    </ul>
</mat-toolbar>
