a {
    text-decoration: none;
    color: black;

}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.spacer{
    flex: 1 1 auto;
}

.current{
    background-color: rgb(126, 193, 196);
}

.cursorlink:hover{
    background-color: white;
}