<div class="display-3 text-center">Login</div>
<mat-card class="offset-3 col-md-6">
    <mat-spinner *ngIf="isLoading"></mat-spinner>

<form *ngIf="!isLoading" (submit)="onLogin(loginForm)" #loginForm = "ngForm" >
    <mat-form-field>
        <input matInput type="email" name="email" ngModel placeholder="E-mail" required email #emailInput="ngModel" >
        <mat-error *ngIf="emailInput.invalid">Please enter a valid E-mail</mat-error>
    </mat-form-field> 
    <mat-form-field>
        <input matInput type="password" name="password" ngModel #passwordInput="ngModel" placeholder="Password" required >
        <mat-error *ngIf="passwordInput.invalid">Please enter a password</mat-error>
    </mat-form-field><br>
    <button mat-raised-button style="background-color: rgb(33, 241, 179);" type="submit" *ngIf="!isLoading">Login</button>
    <div style="margin-top: 10px;">Don't have any account? Click here
        <a routerLink="/signup">Signup</a>
    </div>

</form>
</mat-card> 